body, html{
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    text-align: center;
}
input{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    width: 300px;
    border: 1px solid #ccc;
    position: relative;
    left: 80px;
}
button{
    width: 180px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #28a745;
    color: white;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    left: -180px;
    top: 60px;
}
select{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    width: 300px;
    border: 1px solid #ccc;
    position: absolute;
    top: 400px;
    left: 510px;
    background-color: #fff;
}